<footer>
  <div class='nav-group clearfix'>
    <nav class='fl'>
      <ul>
        <li>
        <a class='strong' href='/shop'>
          Shop
        </a>
        </li>
        <li>
          <a href=''>
            Women 
          </a>
        </li>
        <li>
          <a href=''>
            Men
          </a>
        </li>
        <li>
          <a href=''>
            Brands
          </a>
        </li>
        <li>
          <a href=''>
            Lifestyle
          </a>
        </li>
        <li>
          <a href=''>
            Beauty
          </a>
        </li>
        <li>
          <a href=''>
            Collections
          </a>
        </li>
      </ul>
    </nav>
    <nav class='fl'>
      <ul>
        <li>
        <a class='strong' href='{{ site.baseurl }}/iterations/about-{{ site.about }}.html'>
          About
        </a>
        </li>
        <li>
          <a href=''>
            Our Story
          </a>
        </li>
        <li>
          <a href='{{ site.baseurl }}/iterations/team-{{ site.team }}.html'>
            Team
          </a>
        </li>
        <li>
          <a href='{{ site.baseurl }}/final/careers.html'>
            Careers
          </a>
        </li>
        <li>
          <a href='{{ site.baseurl }}/final/press.html'>
            Press
          </a>
        </li>
        <li>
          <a href='{{ site.baseurl }}/final/brands.html'>
            For Brands
          </a>
        </li>
      </ul>
    </nav>

    <nav class='fl'>
      <ul>
        <li>
        <a class='strong' href='{{ site.baseurl }}/final/engineering.html'>
          Engineering
        </a>
        </li>
        <li>
          <a href='{{ site.baseurl }}/final/engineering.html#tools'>
            Our Tools
          </a>
        </li>
        <li>
          <a href=''>
            Engineering Blog
          </a>
        </li>
        <li>
          <a href=''>
            Getting Hired
          </a>
        </li>
      </ul>
    </nav>

    <nav class='fl'>
      <ul>
        <li>
        <a class='strong' href='{{ site.baseurl }}/iterations/help-{{ site.help }}.html'>
          Help
        </a>
        </li>
        <li>
          <a href='{{ site.baseurl }}/final/faq.html'>
            FAQ
          </a>
        </li>
        <li>
          <a href=''>
            How to use spring
          </a>
        </li>
        <li>
          <a href='{{ site.baseurl }}/iterations/contact-{{ site.contact }}.html'>
            Contact Us
          </a>
        </li>
      </ul>
    </nav>

<nav class='fl'>
      <ul>
        <li>
        <a class='strong' href='{{ site.baseurl }}/iterations/help-{{ site.help }}.html'>
          Stay connected
        </a>
        </li>
        <li>
          <a href='https://instagram.com/spring/'>
            <i class="icon-instagram"></i> Instagram 
            </a>
        </li>
        <li>
            <a href='https://www.facebook.com/SpringNYC'>
              <i class="icon-facebook-squared"></i> Facebook
            </a>
        </li>
        <li>
            <a href='https://twitter.com/shopspring'>
              <i class="icon-twitter"></i>  Twitter
            </a>
        </li>
      </ul>
    </nav>
      <!--
    <div class='fl'>
      <p class='strong'>Get our newsletter for exclusive deals</p>
      <input type='text' placeholder='enter your email'>
      <nav class='clearfix space-bottom1'>
        <ul>
          <li class='fl'>
            <a href='https://instagram.com/spring/'>
              <i class="icon-instagram"></i> 
            </a>
          </li>
          <li class='fl'>
            <a href='https://www.facebook.com/SpringNYC'>
              <i class="icon-facebook-squared"></i> 
            </a>
          </li>
          <li class='fl'>
            <a href='https://twitter.com/shopspring'>
              <i class="icon-twitter"></i> 
            </a>
          </li>
        </ul>
      </nav>
      <div>
        <p class='quiet'>
          Follow us for inspiration, deals, and notifications on new brands launching
        </p>
      </div>
    </div>
      -->
  </div>

  <nav class='silent ml3 mb2'>
    <span>© Jello Labs 2015</span>
    <span class='ml1'>
      <a href='{{ site.baseurl }}/final/tos.html'>
        Terms of Service
      </a>
    </span>
    <span class='ml1'>
      <a href='{{ site.baseurl }}/final/privacy.html'>
        Privacy Policy
      </a>
    </span>
  </nav>

  <div class='bottom-border'></div>
</footer>
