<footer class='new gray-light'>
  <div class='space-bottom6 clearfix'>
    <nav class='col2'>
      <h3>
        <a href='/shop'>
          Shop
        </a>
      </h3>

      <ul>
        <li>
          <a href=''>
            Women 
          </a>
        </li>
        <li>
          <a href=''>
            Men
          </a>
        </li>
        <li>
          <a href=''>
            Brands
          </a>
        </li>
        <li>
          <a href=''>
            Lifestyle
          </a>
        </li>
        <li>
          <a href=''>
            Beauty
          </a>
        </li>
        <li>
          <a href=''>
            Collections
          </a>
        </li>
      </ul>
    </nav>
    <nav class='col2'>
      <h3>
        <a href='{{ site.baseurl }}/iterations/about-{{ site.about }}.html'>
          About
        </a>
      </h3>

      <ul>
        <li>
          <a href=''>
            Our Story
          </a>
        </li>
        <li>
          <a href='{{ site.baseurl }}/iterations/team-{{ site.team }}.html'>
            Team
          </a>
        </li>
        <li>
          <a href='{{ site.baseurl }}/iterations/careers-{{ site.careers }}.html'>
            Careers
          </a>
        </li>
        <li>
          <a href='{{ site.baseurl }}/iterations/press-{{ site.press }}.html'>
            Press
          </a>
        </li>
      </ul>
    </nav>

    <nav class='col2'>
      <h3>
        <a href='{{ site.baseurl }}/iterations/eng-{{ site.eng }}.html'>
          Engineering
        </a>
      </h3>

      <ul>
        <li>
          <a href=''>
            Our Stack
          </a>
        </li>
        <li>
          <a href=''>
            Engineering Blog
          </a>
        </li>
        <li>
          <a href=''>
            Getting Hired
          </a>
        </li>
      </ul>
    </nav>

    <nav class='col2'>
      <h3>
        <a href='{{ site.baseurl }}/iterations/help-{{ site.help }}.html'>
          Help
        </a>
      </h3>

      <ul>
        <li>
          <a href=''>
            FAQ
          </a>
        </li>
        <li>
          <a href=''>
            How to use spring
          </a>
        </li>
        <li>
          <a href='{{ site.baseurl }}/iterations/contact-{{ site.contact }}.html'>
            Contact Us
          </a>
        </li>
      </ul>
    </nav>

    <div class='margin2 col2'>
      <nav class='clearfix space-bottom1'>
        <ul>
          <li class='col2 no-pad'>
            <a href='https://instagram.com/spring/'>
              <i class="icon-instagram"></i> 
            </a>
          </li>
          <li class='col2 margin1 no-pad'>
            <a href='https://www.facebook.com/SpringNYC'>
              <i class="icon-facebook-squared"></i> 
            </a>
          </li>
          <li class='col2 margin1 no-pad'>
            <a href='https://twitter.com/shopspring'>
              <i class="icon-twitter"></i> 
            </a>
          </li>
        </ul>
      </nav>
      <div>
        <p class='quiet'>
          Follow us for inspiration, deals, and notifications on new brands launching
        </p>
      </div>
    </div>
  </div>

  <nav class='silent light col6'>
    <span>© Jello Labs 2015</span>
    <span class='margin0'>
      <a href='{{ site.baseurl }}/iterations/tos-{{ site.tos }}.html'>
        Terms of Service
      </a>
    </span>
    <span class='margin0'>
      <a href='{{ site.baseurl }}/iterations/privacy-{{ site.privacy }}.html'>
        Privacy Policy
      </a>
    </span>
  </nav>
</footer>
