<footer>
  <div class='nav-group clearfix'>
    <nav class='fl'>
      <ul>
        <li>
        <a class='strong' href='/shop'>
          Shop
        </a>
        </li>
        <li>
          <a href=''>
            Women 
          </a>
        </li>
        <li>
          <a href=''>
            Men
          </a>
        </li>
        <li>
          <a href=''>
            Lifestyle
          </a>
        </li>
        <li>
          <a href=''>
            Beauty
          </a>
        </li>
        <li>
          <a href=''>
            Brands
          </a>
        </li>
        <li>
          <a href=''>
            Collections
          </a>
        </li>
      </ul>
    </nav>
    <nav class='fl'>
      <ul>
        <li>
        <a class='strong' href='/about.html'>
          About
        </a>
        </li>
        <li>
          <a href='/team.html'>
            Team
          </a>
        </li>
        <li>
          <a href='/careers.html'>
            Careers
          </a>
        </li>
        <li>
          <a href='/press.html'>
            Press
          </a>
        </li>
        <li>
          <a href='/brands.html'>
            For Brands
          </a>
        </li>
        <li>
        <a href='/engineering.html'>
          Engineering
        </a>
        </li>
      </ul>
    </nav>

    <nav class='fl'>
      <ul>
        <li>
        <a class='strong' href='/help.html'>
          Help
        </a>
        </li>
        <li>
          <a href='/faq.html'>
            FAQ
          </a>
        </li>
        <li>
          <a href='mailto:concierge@shopspring.com'>
            Contact Us
          </a>
        </li>
      </ul>
    </nav>

<nav class='fl'>
      <ul>
        <li>
        <a class='strong' href=''>
          Stay connected
        </a>
        </li>
        <li>
          <a href='https://instagram.com/spring/'>
            <i class="icon-instagram"></i> Instagram 
            </a>
        </li>
        <li>
            <a href='https://www.facebook.com/SpringNYC'>
              <i class="icon-facebook-squared"></i> Facebook
            </a>
        </li>
        <li>
            <a href='https://twitter.com/shopspring'>
              <i class="icon-twitter"></i>  Twitter
            </a>
        </li>
      </ul>
    </nav>
  </div>

  <nav class='silent ml3 mb2'>
    <span>© Jello Labs 2015</span>
    <span class='ml1'>
      <a href='/tos.html'>
        Terms of Service
      </a>
    </span>
    <span class='ml1'>
      <a href='/privacy.html'>
        Privacy Policy
      </a>
    </span>
  </nav>

  <div class='bottom-border'></div>
</footer>
