  <a class='logo' href='{{ site.baseurl }}/iterations/index-{{ site.index }}.html'>
    Spring
  </a>

  <nav class='clearfix'>
    <ul class='nav'>

      {% if site.hiring %}
        <li>
          <a class='hiring' href='{{ site.baseurl }}/iterations/careers-{{ site.careers }}.html#open-positions'>
            !
          </a>
        </li>
        <li>
          <a href='/'>
            Shop
          </a>
        </li>
      {% else %}
        <li>
          <a href='/'>
            Shop
          </a>
        </li>
      {% endif %}
      <li>
        <a href='{{ site.baseurl }}/iterations/brands-{{ site.brands }}.html'>
          For Brands
        </a>
      </li>
      <li>
        <a href='{{ site.baseurl }}/iterations/about-{{ site.about }}.html'>
          About
        </a>
      </li>
      <li>
        <a href='{{ site.baseurl }}/iterations/about-{{ site.about }}.html'>
          Team
        </a>
      </li>
      <li>
        <a href='{{ site.baseurl }}/iterations/about-{{ site.about }}.html'>
          Careers
        </a>
      </li>
      <li>
        <a href='{{ site.baseurl }}/iterations/about-{{ site.about }}.html'>
          Engineering
        </a>
      </li>
    </ul>

    <div class='fr account'>
      <ul class='nav'>
      <li>
        <a href='{{ site.baseurl }}/iterations/about-{{ site.about }}.html'>
          Login
        </a>
      </li>
      <li>
        <a href='{{ site.baseurl }}/iterations/about-{{ site.about }}.html'>
          Sign Up
        </a>
      </li>
      <li>
      <a style='  margin-top: -15px' class='btn btn-light'>
        Get the App
      </a>
      </li>
      </ul>
    </div>
  </nav>
