<header>
  <div class='logo'>
    Spring
  </div>

  <nav class='clearfix'>
  <ul class='nav'>
    <li>
      <a href='/'>
        Shop
      </a>
    </li>
    <li>
      <a href='/'>
        For Brands
      </a>
    </li>
    <li>
      <a href='/'>
        About
      </a>
    </li>
  </ul>
  <ul class='nav nav-secondary'>
    <li>
      <a href='/'>
        Developers
      </a>
    </li>
    <li>
      <a href='/'>
        Help
      </a>
    </li>
  </ul>
  </nav>
  <div class='more'>
    <div class="Menu" menu-id="more">
      <a href="/blog">Blog</a>
      <a href="/team">Team</a>
      <a href="/jobs">Jobs</a>
      <a href="/jobs">Contact</a>
    </div>
  </div>
</header>
