  <a class='logo' href='{{ site.baseurl }}/iterations/index-{{ site.index }}.html'>
    Spring
  </a>

  <nav class='clearfix'>
    <ul class='nav'>

      {% if site.hiring %}
        <li>
          <a class='hiring' href='{{ site.baseurl }}/iterations/careers-{{ site.careers }}.html#open-positions'>
            !
          </a>
        </li>
        <li>
          <a href='/'>
            Shop
          </a>
        </li>
      {% else %}
        <li class='margin0'>
          <a href='/'>
            Shop
          </a>
        </li>
      {% endif %}
      <li>
        <a href='{{ site.baseurl }}/iterations/brands-{{ site.brands }}.html'>
          For Brands
        </a>
      </li>
      <li>
        <a href='{{ site.baseurl }}/iterations/about-{{ site.about }}.html'>
          About
        </a>
      </li>
    </ul>
    <div id='nav-more' class='more'>
      <div class='menu-arrow'>
        <div class="dropdown-menu" menu-id="more">
          <a href="{{ site.baseurl }}/iterations/blog-{{ site.blog }}.html">Blog</a>
          <a href="{{ site.baseurl }}/iterations/careers-{{ site.careers }}.html">Careers</a>
          <a href="{{ site.baseurl }}/iterations/team-{{ site.team }}.html">Team</a>
          <a href="{{ site.baseurl }}/iterations/eng-{{ site.eng }}.html">Engineering</a>
          <a href="{{ site.baseurl }}/iterations/contact-{{ site.contact }}.html">Contact</a>
        </div>
      </div>
    </div>

    <div class='fr account'>
      <a class='quiet'  href='#'>
        Login
      </a>
      <a class='btn btn-secondary btn-tiny'>
        Sign Up
      </a>
      <a class='btn btn-quiet btn-tiny'>
        Get the App
      </a>
    </div>
  </nav>
