<div class='limit-large'>
<a class='logo mr2' href='{{ site.baseurl }}/final/index-{{ site.index }}.html'>
  Spring
</a>

<nav class='clearfix'>
  <ul class='nav'>

    {% if site.hiring %}
      <li>
        <a class='hiring' href='{{ site.baseurl }}/final/careers-{{ site.careers }}.html#open-positions'>
          !
        </a>
      </li>
    {% endif %}
    <li>
      <a class='main' href='/'>
        Shop
      </a>
    </li>
    <li>
      <a class='main' href='{{ site.baseurl }}/final/brands.html'>
        For Brands
      </a>
    </li>
    <li>
      <a class='main' href='{{ site.baseurl }}/final/about.html'>
        About
      </a>
    </li>
    <li>
      <a class='main' href='{{ site.baseurl }}/final/team.html'>
        Team
      </a>
    </li>
    <li>
      <a class='main' href='{{ site.baseurl }}/final/careers.html'>
        Careers
      </a>
    </li>
    <li>
      <a class='main' href='{{ site.baseurl }}/final/engineering.html'>
        Engineering
      </a>
    </li>
  </ul>

  <div class='fr account'>
    <ul class='nav'>
      <li>
        <a class='main' href='{{ site.baseurl }}/final/about-{{ site.about }}.html'>
          Login
        </a>
      </li>
      <li>
        <a class='main' href='{{ site.baseurl }}/final/about-{{ site.about }}.html'>
          Sign Up
        </a>
      </li>
      <li>
        <a style='margin-top: -6px' class='btn btn-light'>
          Get the App
        </a>
      </li>
    </ul>
  </div>

  <div class='fr mobile btn btn-light'>
    🍔
  </div>
</nav>
</div>
