.clearfix:after { 
  content: " ";
  display: block; 
  height: 0; 
  clear: both;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.fr { float: right; }
.fl { float: left; }

.limit {
  width:83.3333%;
  max-width:1000px;
  margin-left:auto;
  margin-right:auto;
}

/*
SPACING
========================*/

.space-vert4 { margin-top: 4em; margin-bottom: 4em; }

.space-bottom0 { margin-bottom: 0em; }
.space-bottom1 { margin-bottom: 1em; }
.space-bottom2 { margin-bottom: 2em; }
.space-bottom4 { margin-bottom: 4em; }
.space-bottom6 { margin-bottom: 6em; }
.space-bottom8 { margin-bottom: 8em; }

.space-top0 { margin-top: 0em; }
.space-top1 { margin-top: 1em; }
.space-top2 { margin-top: 2em; }
.space-top4 { margin-top: 4em; }
.space-top6 { margin-top: 6em; }
.space-top8 { margin-top: 8em; }

.space-bottom2 {
  margin-bottom: 2em;
}

/*
COLUMNZ
========================*/
.col0,.col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8,.col9,.col10,.col11,.col12 {
min-height: 1px;
float: left;
padding-right: 15px;
padding-left: 15px;
}

.col4 { width: 25%; }
.col5 { width: 37.5%; }
.col6 { width: 50%; }
.col8 { width: 75%; }

.no-pad { padding: 0em; }

.margin2 { margin-left: 12.5%;}
.margin4 { margin-left: 25%;}

.margin2r { margin-right: 12.5%;}
.margin4r { margin-right: 25%;}
.margin6r { margin-right: 50%;}
.margin7r { margin-right: 62.5%;}
.margin8r { margin-right: 75%;}
