.clearfix:after { 
  content: " ";
  display: block; 
  height: 0; 
  clear: both;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.fr { float: right; }
.fl { float: left; }

.limit {
  width:83.3333%;
  max-width:1000px;
  margin-left:auto;
  margin-right:auto;
}

.col0,.col1,.col2,.col3 {
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}

.col4 { width: 25%; }

/*
SPACING
========================*/

.space-top0 { margin-top: 0em; }
.space-top1 { margin-top: 1em; }
.space-top2 { margin-top: 2em; }
.space-top4 { margin-top: 4em; }

.space-bottom2 {
  margin-bottom: 2em;
}
