.mobile {
  display: none;
}

.mobile-none {
  display: block;
}

@media all and (max-width: 950px)  {
 header {
    .nav li { display: none; }

    .logo {
      position: absolute;
      left: 50%;
      margin-left: -45px;
    }

    .mobile.btn {
      display: inline-block;
      font-size: 1.5em;
      width: 2em;
      padding: 0 .5em;
      margin-top: -1em;
    }

    a.mobile {
      color: #FFF;
      font-size: 1em;
      display: inline-block;
      position: absolute;
      top: 2em;
      right: 2em;
    }

  }
}

@media all and (max-width: 870px) {
  .heading {
    width: 100%;
  }

  .mobile-none {
    display: none;
  }

  .mobile {
    display: block;
  }

  footer nav.fl {
    float: none;
    margin-bottom: 2em;
  }

   .grid {
      width: 369px;
    }

    .block {
      min-height: 333px;
    }

    .grid li { 
      width: 90%;
      margin: 5%; 
    }

    .mosaic {
      .col-small, 
      .col-big {
        width: 100%;

        .section {
          height: 20em;

          img {
            width: 100%;
            height: auto;
            top: -20%;
          }
        }
      }
    }

}

@media all and (max-width: 500px) {
  .heading {
    font-size: 2em;
  }

  .subheader {
    font-size: 1.5em;
    width: 100%;
    padding: 0 2em;
  }

  section p {
    width: 100%;
    padding: 0 2em;
  }

  img {
    width: 100%;
    padding: 0 2em;
  }
}
