.sticky {
  position: fixed;
  top: 0;
  z-index: 100;

  width: 48em;
  padding-top: .4em;

  background-color: #FFF;
  border-bottom: 1px solid #e4e4e4;

}

.wrapper.large {

  .sticky {
    width: 60em;
  }
}

.more {
  &:before {
    content: 'more';
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    transition: opacity 200ms ease-in;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: 500;
  }

  .menu-arrow {
    transition: all .3s;
    position: relative;
    display: inline-block;
    height: 8px;
    width: 10px;
    padding-left: 1px;
    background: url('/shopspring/img/arrow.png');
    background-repeat: no-repeat;
    cursor: pointer;
  }

  &:hover .menu-arrow {
    opacity: 1;
  }

  &.open .dropdown-menu {
    //add animation
    display: block;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: -5em;
    display: none;
    margin-top: 1em;
    padding: .7em 0;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    transition: all .3s;

    border: solid 2px #e4e4e4;

    &:hover a {
      color: #111;
    }

    a {
      text-align: center;
      display: block;
      line-height: 1.9;
      padding: .25em 1.8em;
      font-size: 13px;
      font-weight: 500;
      color: $gray;

      &:hover {
        color: $brand-color;
      }
    }
  }
}

.gopher { margin-top: -7em; }
.logo { 
  max-height: 1em;
  width: auto;
  opacity: .25 
}

.eng-header {
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 0;
  opacity: .25;
}
