.text-right { text-align: right; }
.text-center { text-align: center; }

/*
HEADER STYLES
==========================*/

  header {
    text-transform: uppercase;
    z-index: 100;
    padding: 30px;
    font-size: .875em;
    position: relative;
    box-shadow: 0px 1px 1px $gray-light;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    box-shadow: none;
    position: absolute;
    top: 0;

    .btn { font-weight: 500; }

    li { 
      font-weight: 500;
    }

    &.dark {
      box-shadow: 0px 1px 0px rgba(17, 17, 17, 0.1);
    }

    &.new {
      position: absolute;
      width: 100%;
      box-shadow: none;
    }

    .logo {
      float: left;
      width: 90px;
      margin-top: 2px;
      overflow: hidden;
      text-indent: 100%;
      background: url(/shopspring/img/logo-light.svg) no-repeat;
      background-size: 90px;

      &:hover {
        background: url(/shopspring/img/logohover.svg) no-repeat;
        background-size: 90px;
      }
    }

    a.hiring {
      opacity: 1;
      background-color: $brand-color;
      color: #FFF;
      padding: 0em .55em;
      border-radius: 50%;
    }

  }

  /*
  SPLASH STYLES
  ==========================*/

  .splash {
    position: relative;
    background: rgba(0,0,0,.4);
    height: 630px;

    .cta {
      position: absolute;
      left: 50%;
      width: 20em;
      margin-left: -10em;
    }
  }

  .splash:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .heading {
    font-size: 48px;
    line-height: 1.2em;
    font-weight: 300;
    letter-spacing: .26em;
    text-transform: uppercase;
    width: 870px;
    margin-top: 0em;
    color: #FFF;
    text-align: center;

     @include vertical-align;
  }

  .desc {
    font-weight: 500;
  }

  .cta {
    font-weight: 400;
    position: absolute;
    bottom: 6em;
    width: 20em;
    letter-spacing: .14em;

    &.center { 
    left: 50%; 
    margin-left: -10em;
  }
  }

  /*
  NAV STYLES
  ==========================*/

  ul.nav {
    list-style-type: none;
    text-transform: uppercase;

    &.sub-nav {
      font-size: 11px;
      margin-left: auto;
      margin-right: auto;
      display: inline-block;
    }

    li:first-child {
      padding-left: 0;
    }

    li a {
      color: #FFF;
      font-size: 11px;
      letter-spacing: .08em;

      &.main:hover {
        padding-bottom: .42em;
        border-bottom: 2px solid #FFF;
      }
    }
  }

  .nav li {
    float: left;
    padding: 0px 15px;
    line-height: 1em;
    margin-top: 5px;

    &:last-child {
      padding-right: 0;
    }
  }
  .nav.nav-secondary a {
    color: $gray-light;

    &:hover {
      color: $gray-dark;
    }
  }


  /*
  SECTION STYLES
  ==========================*/
  

  section {
    &.gray {
      background: #f5f5f5;
    }


    p{
      width: 470px; 
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }


  .subheader {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    letter-spacing: .26em;
    line-height: 1.2em;
    max-width: 470px;
  }

  .info {
    width: 470px; 
    text-align: center;
  }


  /*
  FOOTER STYLES
  ==========================*/

  footer {
    overflow: auto;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-size: 12px;
    position: relative;
    color: #ccc;
    border-top: 1px solid $gray-lightest;

    .nav-group {
      padding: 4em 0 8em 3em;
    }

    nav {
      margin-right: 5em;
    }

    &.color {
      background-image: -webkit-linear-gradient(-90deg,#3BD2FF,#2448BB);
      background-image: -moz-linear-gradient(-90deg,#3BD2FF,#2448BB);
      background-image: -ms-linear-gradient(-90deg,#3BD2FF,#2448BB);
      background-image: -o-linear-gradient(-90deg,#3BD2FF,#2448BB);
      background: linear-gradient(-90deg,#3BD2FF,#2448BB);
    }

    .bottom-border {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 4px;
      background-image: -webkit-linear-gradient(-90deg,#3BD2FF,#2448BB);
      background-image: -moz-linear-gradient(-90deg,#3BD2FF,#2448BB);
      background-image: -ms-linear-gradient(-90deg,#3BD2FF,#2448BB);
      background-image: -o-linear-gradient(-90deg,#3BD2FF,#2448BB);
      background: linear-gradient(-90deg,#3BD2FF,#2448BB);
    }

    i {
      font-size: 12px;
      margin-top: 2px
    }
  }

  footer nav {
    font-family: 'Gotham A', 'Gotham B'; 
    font-weight: 400; 
    font-style: normal;
    text-transform: uppercase;
  }

  footer nav ul {
    list-style-type: none;

    li {
      font-weight: 400;
      padding: 0em;
      line-height: 2.25em;
    }
  }

  footer .nav {
    color: $gray-light;
    font-family: 'Gotham A', 'Gotham B'; 
    font-weight: 400; 
    font-style: normal;
  }

  footer .nav li:first-child {
    padding-left: 0px;
  }

  footer a {
    color: #ccc;

    &:hover { color: $brand-color; }
  }

  footer h3 {
    font-family: 'Gotham A', 'Gotham B'; 
    font-weight: 500; 
    font-style: normal;
    margin-bottom: 1em;

    a, a:visited {
      color: #666;
    }
  }

  ul.post-list {
    list-style-type: none;
    margin-bottom: 6em;
  }

  footer nav ul {
    list-style-type: none;
  }

  /*
  BUTTON STYLES
  ==========================*/
  .btn {
    @extend %caps;
    cursor: pointer;
    display: block;
    max-width: 20em;
    font-size: 12px;
    background: $brand-color;
    text-align: center;
    padding: 7px 15px;
    color: white;
    border-radius: .35em;
    -webkit-transition: background .15s ease;
    font-weight: 400;
    letter-spacing: .14em;

    &:hover {
      background: #06E;
      color: white;
      -webkit-transition: all .2s;

    }


    &.btn-main {
      border-color: $brand-color;
      color: #FFF;

      &:hover {
        background-image: -webkit-linear-gradient(-90deg,#3B8FFF,#2448BB);
        background-image: -moz-linear-gradient(-90deg,#3B8FFF,#2448BB);
        background-image: -ms-linear-gradient(-90deg,#3B8FFF,#2448BB);
        background-image: -o-linear-gradient(-90deg,#3B8FFF,#2448BB);
        background: linear-gradient(-90deg,#3B8FFF,#2448BB);
        color: #fff;
      }
    }

    &.btn-light {
      border-color: $brand-color;
      background-color: #FFF;
      color: #222;


      &:hover {
        background-color: darken($brand-color, 15%);
        color: #FFF;
        background-image: none;
      }
    }

    &.btn-outline {
      border: 1px solid $gray-lighter;
      background-color: #FFF;
      color: #222;


      &:hover {
        background-color: $brand-color;
        border-color: $brand-color;
        color: #FFF;
        background-image: none;
      }
    }

    &.btn-large {
      font-weight: 500;
      width: 400px;
      display: block;
      text-align: center;
      font-size: 24px;
      letter-spacing: .14em;

      padding: 13px 5px;
      margin: 90px auto 30px auto;
    }

    &.btn-small {
      font-size: 11px;
      padding: 15px;
      border-radius: 3px;
    }

    &.btn-tiny {
      font-size: 9px;
      padding: 13px 17px;
    }
  }

  
  .longform p {
    padding: 2em 0em;
  }

  .update .post-content p { 
    font-weight: 500;
    opacity: 1;
  }

  .post-content p {
    margin-bottom: 1em;
  }

  hr {
    margin: 1em 0em;
    height: 1px;
    border: 0; 
    border-top: 1px solid $gray-light;
  }

  footer nav {
    padding: 0;
    box-shadow: none;
  }

  //COLORS
  .teal { 
    background-color: $teal; 
  }

  .blue { 
    background-color: $brand-color; 
  }

  .gold { 
    background-color: $gold; 
  }

  .purple { 
    background-color: $purple; 
  }

  .red { 
    background-color: $red; 
  }

  .gray { 
    background-color: $gray-lighter; 
  }

  .gray-light { 
    background-color: $gray-lightest;
  }

  .blue { 
    background-color: $brand-color; 
  }

  .dark {
    color: #FFF;

    p {
      color: rgba(255,255,255,.9);
    }

    .strong {
      color: #FFF;
    }
  }

  .small { 
    font-size: 11px; 
    text-transform: uppercase;
  }

  .loud {
    //Fix
    color: $brand-color !important;

    &:hover {
      color: #111;
    }
  }

  .strong { 
    font-weight: 500;
  }

  .light {
    font-weight: 400;
  }

  .silent {
    color: $gray-light;

    a {
      color: $gray-light;
    }

    a:hover {
      color: $gray;
    }
  }

  .quiet {
    color: $gray;

    &a:hover {
      color: #111;
    }
  }

  // BORDERS
  .b  { border: 1px solid #ddd; }
  .bt { border-top: 1px solid #ddd; }
  .br { border-right: 1px solid #ddd; }
  .bb { border-bottom: 1px solid #ddd; }
  .bl { border-left: 1px solid #ddd; }
