.page-content {
  padding: 100px;
}


/*
HEADER STYLES
==========================*/

header {
  text-transform: uppercase;
  padding: 40px;
  font-size: 13px;
}

header .logo {
  font-family: 'Gotham A', 'Gotham B'; 
  font-weight: 500; 
  font-style: normal;
  font-size: 19px;
  margin-right: 35px;
  float: left;
}

ul.nav {
  list-style-type: none;
  float: left;
}

.nav li {
  font-family: 'Gotham A', 'Gotham B'; 
  font-weight: 500; 
  font-style: normal;
  float: left;
  padding: 0 14px;
  line-height: 2.2em;
}

.nav a {
  color: $gray;
  transition: all .3s;

  &:hover {
    color: $gray-dark;
  }
}

.nav.nav-secondary a {
  color: $gray-light;

  &:hover {
    color: $gray-dark;
  }
}

/*
FOOTER STYLES
==========================*/

footer {
  overflow: auto;
  width: 720px;
  margin-right: auto;
  margin-left: auto;
  font-size: 12px;
}

footer nav {
  font-family: 'Gotham A', 'Gotham B'; 
  font-weight: 500; 
  font-style: normal;
  text-transform: uppercase;
  float: left;
}

footer nav ul {
  list-style-type: none;
}

footer .nav {
  color: $gray-light;
  font-family: 'Gotham A', 'Gotham B'; 
  font-weight: 400; 
  font-style: normal;
}

footer .nav li:first-child {
  padding-left: 0px;
}

footer a {
  color: $gray;
}

footer h3 {
  font-family: 'Gotham A', 'Gotham B'; 
  font-weight: 500; 
  font-style: normal;
  margin-bottom: 1em;

  a, a:visited {
    color: $text-color;
  }
}

ul.post-list {
list-style-type: none;
margin: 3em 0em 6em;
  float: left;
}

footer nav ul {
  list-style-type: none;
}

/*
BUTTON STYLES
==========================*/

.btn {
  @extend %caps;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  background: #222;
  padding: 20px 40px;
  color: white;
  border-radius: .35em;
  -webkit-transition: background .15s ease;
  &:hover {
    background: #000;
    -webkit-transition: background .15s ease;

  }
}

.btn-small {
  font-size: 11px;
  padding: 15px 25px;
  border-radius: 3px;
}

.btn-tiny {
  font-size: 9px;
  padding: 13px 17px;
}

.btn-secondary {
  background: white;
  box-shadow: inset 0px 0px 0px 3px #eee;
  -webkit-transition: box-shadow .15s ease;
  color: #222;
  &:hover {
    background: white;
    box-shadow: inset 0px 0px 0px 3px #ddd;
    -webkit-transition: box-shadow .15s ease;
  }
}

.btn-secondary.btn-tiny{
  box-shadow: inset 0px 0px 0px 1.5px #eee;
  &:hover {
    box-shadow: inset 0px 0px 0px 1.5px #ddd;
    -webkit-transition: box-shadow .15s ease;
  }
}


.btn-secondary.btn-small{
  box-shadow: inset 0px 0px 0px 2.5px #eee;
  &:hover {
    box-shadow: inset 0px 0px 0px 2.5px #ddd;
    -webkit-transition: box-shadow .15s ease;
  }
}


ul.post-list {
list-style-type: none;
margin: 3em 0em 6em;
}

header.post-header {
  padding: 40px 0px;
  color: #e4e4e4;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 2em;
}

.post-content { 
  font-weight: bold; 
  color: #444;
  line-height: 1.25em;
}

.post-content img {
  margin-top: 6em;
  margin-bottom: 6em;
  margin-left: -30%;
  max-width: 160%;
}

.post-content img + img {
margin-top: -2em;
}

.post-content p {
  margin-bottom: 1em;
}

hr {
  margin: 3em 0em;
  height: 1px;
  border: 0; 
  border-top: 1px solid #e4e4e4;
}

footer nav {
padding: 0;
box-shadow: none;
}
