---
layout: spring
---

<style>
  .placeholder { 
    width: 3em;
    height: 3em;
    background-color: #eee; 
    border-radius: 25%;
    margin: 0em auto 1em;
  }


  .splash {
    background-image: url({{ site.baseurl }}/img/brands.png);
    background-size: auto 150px;
  }
  
  .splash:after {
      background-image: -webkit-linear-gradient(-90deg,#3B8FFF,#2448BB);
      background-image: -moz-linear-gradient(-90deg,#3B8FFF,#2448BB);
      background-image: -ms-linear-gradient(-90deg,#3B8FFF,#2448BB);
      background-image: -o-linear-gradient(-90deg,#3B8FFF,#2448BB);
      background: linear-gradient(-90deg,#3B8FFF,#2448BB);
  }
</style>

{% include header-3.html %}
<div class="page-content clearfix splash space-bottom0">
  <div class="wrapper text-center dark space-top4">
    <h3 class='col8 center space-top1 space-bottom1 heading'>Over 750 brands use Spring</h3>

    <p class='col8 center desc space-bottom1'>
      With state of the art tools for mobile and web, Spring lets you tell your brands story, integrates with your e-commerce solution, and provides powerful analytics.
    </p>

    <a class='space-top4 btn btn-light btn-small'>
      Apply in 2 minutes
    </a>
    <div  class='space-top1 space-bottom4'>
      <a href='{{ site.baseurl}}/iterations/careers-{{ site.careers }}.html' class='quiet small'>See how Spring can help your brand ></a>
    </div>
  </div>
</div>

<div class='wrapper large'>
<nav id='nav-sticky' class="clearfix text-center">
        <ul class="nav sub-nav center clearfix">
          <li>
            <a href="/">
              Overview
            </a>
          </li>
          <li>
            <a href="/">
              Mobile
            </a>
          </li>
          <li>
            <a href="/">
              Sales
            </a>
          </li>
          <li>
            <a href="/">
              Integrations
            </a>
          </li>
          <li>
            <a href="/">
              Testimonials
            </a>
          </li>
          <li>
            <a class='loud' href="/">
              Apply
            </a>
          </li>
        </ul>
      </nav>
</div>

  <section class='clearfix space'>
    <div class='wrapper large'>
      <div class='col6 margin1 space-top2'>
        <h4>Capitalize on Mobile</h4>
        <p class='space-bottom6 space-top1'>
          Mobile Commerce already accounts for over 21% of all ecommerce 

          sales. Spring provides the platform for brands to take advantage of 

          a native mobile sales channel in ways not possible before
        </p>
<div class='clearfix space-bottom4 text-center'>
        <div class='col3 '>
          <p class='placeholder'></p>
          <p class='small space-bottom2'>New Retail Sales Channel</p>
        </div>
        <div class='col3 margin1'>
          <p class='placeholder'></p>
          <p class='space-bottom2 small'>Shared Distribution</p>
        </div>
        <div class='col3 margin1'>
          <p class='placeholder'></p>
          <p class='space-bottom2 small'>Direct to Consumer Margins</p>
        </div>
      </div>
      <div class='clearfix space-bottom4 text-center'>
        <div class='col3 '>
          <p class='placeholder'></p>
          <p class='space-bottom2 small'>Full Control of Content & Merchandising</p>
        </div>
        <div class='col3 margin1'>
          <p class='placeholder'></p>
          <p class='space-bottom2 small'>Spring Managed App Development</p>
        </div>
        <div class='col3 margin1'>
          <p class='placeholder'></p>
          <p class='space-bottom2 small'>Powerful Data & Analytics</p>
        </div>
      </div>

      </div>
      <div class='col3 margin2'>
        <img src="{{ site.baseurl }}/img/iphone-5s.png" class="layer phoneframe" width="auto" height="628">
      </div>
    </div>
  </section>

  <section class='clearfix space header gray-light'>
    <div class='wrapper'>
      <div class='col6'>
      </div>
      <div class='col6'>
        <h4>Unique sales channel</h4>
        <p>Big Customer quote - “Spring has
        
          created the easiest way for brands 
        
          to sell and market in a dedicated 
        
        mobile channel..” (Marc Jacobs)</p>
      </div>
    </div>
  </section>

  <section class='clearfix space header'>
    <div class='wrapper text-center'>
      <h3>Seamless integrations</h3>

    </div>
  </section>

<section class='clearfix header space gray-light'>
    <div class='wrapper text-center'>
      <h3>Testimonials</h3>

    </div>
  </section>
<section class='clearfix space header'>
    <div class='wrapper text-center'>
      <h3>Apply</h3>

    </div>
  </section>


  </div>
</div>
</div>

</div>
</div>

<script>
var stickyNav = document.getElementById('nav-sticky');
var stickyNavTop = document.getElementById('nav-sticky').offsetTop;  

function placeNav(){
  var scrollTop = window.scrollY;

  if ( stickyNavTop >= scrollTop && hasClass(stickyNav, 'sticky') ) {
    stickyNav.className = 'text-center';
  }
  else if ( stickyNavTop <= scrollTop && !hasClass(stickyNav, 'sticky') ) {
    stickyNav.className += ' sticky';
  }
};

function hasClass(element, cls) {
  return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
}

function isInArray(value, array) {
  return array.indexOf(value) > -1;
}

function getColor () {
  //there are 360 distinct hue values in hsl
  var h = Math.random() * 360;
  // FUN FACT! ~~ is shorthand for Math.floor(). not relevant anymore, but still useful.

  var color = "hsla(" + h + ", 75%, 60%, 1)";
  return (color);
}

function init () {
  window.addEventListener('scroll', function () {
    placeNav()
  })
}

//LETS GOOOOOOO!
window.addEventListener( 'load', init, false); 
</script>

{% include footer-5.html %}
