---
layout: spring
---

<!-- CAREERS -->

<style>

  .placeholder { 
    width: 3em;
    height: 3em;
    background-color: #eee; 
    border-radius: 25%;
    margin: 0em auto 3em;
  }
</style>

{% include header-blue.html %}
<div class="clearfix blue">
  <div class="wrapper dark text-center header">
    <h3 class='space-top6 space-bottom2'>
      Life at Spring
    </h3>

    <p class='space-top2'>Blurb that outlines why working for Spring is exceptional</p>
    <p>Blurb that outlines why working for Spring is exceptional</p>

    <a class='space-top4 space-bottom8 btn btn-white btn-outline btn-small'>
      View Open Positions
    </a>

  </div>
</div>
<div class="clearfix">
  <div class="wrapper">
    <div id='nav-sticky' class='text-center'>
      <nav class="clearfix">
        <ul class="nav sub-nav clearfix">
          <li>
            <a href="/">
              What we do
            </a>
          </li>
          <li>
            <a href="/">
              How we work
            </a>
          </li>
          <li>
            <a href="/">
              Where we work
            </a>
          </li>
          <li>
            <a href="/">
              Perks
            </a>
          </li>
          <li>
            <a class='loud' href="/">
              Current Openings
            </a>
          </li>
        </ul>
      </nav>

    </div>
  </div>


  <section class='clearfix space'>
    <div class='wrapper'>
      <div class='col6'>
        <h4>What we do</h4>
        <p class='space-bottom2'>
          Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.

          Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
        </p>

        <a class='quiet small' href='#'>Check out our Blog ></a>
        <br/>
        <a class='space-top1 quiet small' href='#'>Take a look at our apps ></a>
      </div>
      <div class='col6'>
      </div>
    </div>
  </section>

  <section class='clearfix space gray-light'>
    <div class='wrapper'>
      <div class='col6'>
      </div>
      <div class='col6'>
        <h4>How we work</h4>
        <p>
          Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.

          Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
        </p>
      </div>
    </div>
  </section>

  <section class='clearfix space'>
    <div class='wrapper text-center'>
        <h3>Where we work</h3>

    </div>
  </section>

  <section class='clearfix gray-light space'>
    <div class='wrapper text-center'>
      <h3 class='space-bottom4'>Perks</h3>

      <div class='clearfix space-bottom4'>
        <div class='col2 margin1'>
          <p class='placeholder'></p>
          <p class='space-bottom2'>discounts on great products from cool brands</p>
        </div>
        <div class='col2 margin1'>
          <p class='placeholder'></p>
          <p class='space-bottom2'>the resources to go after our big idea</p>
        </div>
        <div class='col2 margin1'>
          <p class='placeholder'></p>
          <p class='space-bottom2'>well-designed and casual office</p>
        </div>
        <div class='col2 margin1'>
          <p class='placeholder'></p>
          <p class='space-bottom2'>unlimited vacation days</p>
        </div>
      </div>
      <div class='clearfix'>
        <div class='col2 margin1'>
          <p class='placeholder'></p>
          <p class='space-bottom2'>meaningful equity sharing</p>
        </div>
        <div class='col2 margin1'>
          <p class='placeholder'></p>
          <p class='space-bottom2'>stocked snack bar</p>
        </div>
        <div class='col2 margin1'>
          <p class='placeholder'></p>
          <p class='space-bottom2'>genuinely stylish team swag</p>
        </div>
        <div class='col2 margin1'>
          <p class='placeholder'></p>
          <p class='space-bottom2'>Puppies!!! Also: adult dogs</p>
        </div>
      </div>
    </div>
  </section>

  <section class='clearfix text-center'>

    <div class='wrapper'>
      <h3 class='space-bottom4'>Open Positions</h3>

      <script type="text/javascript" id="rbox-loader-script">
        _rbox = { host_protocol:document.location.protocol, ready:function(cb){this.onready=cb;} };
        (function(d, e) {
          var s, t, i, src=['/static/client-src-served/widget/18795/rbox_api.js', '/static/client-src-served/widget/18795/rbox_impl.js'];
          t = d.getElementsByTagName(e); t=t[t.length - 1];
          for(i=0; i<src.length; i++) {
            s = d.createElement(e); s.src = _rbox.host_protocol + '//w.recruiterbox.com' + src[i];
            t.parentNode.insertBefore(s, t.nextSibling);
          }})(document, 'script');
      </script>
    </section>
  </div>
</div>
</div>


<script>
  var stickyNav = document.getElementById('nav-sticky');  
  var stickyNavTop = document.getElementById('nav-sticky').offsetTop;  

  function init () {
    window.addEventListener('scroll', function () {
      placeNav()
    })
  }

  function placeNav(){
    var scrollTop = window.scrollY;

    if ( stickyNavTop >= scrollTop && hasClass(stickyNav, 'sticky') ) {
      stickyNav.className = 'text-center';
    }
    else if ( stickyNavTop <= scrollTop && !hasClass(stickyNav, 'sticky') ) {
      stickyNav.className += ' sticky';
    }
  };

  init();

</script>

{% include footer-4.html %}

