---
layout: spring
---

<!-- ENGINEERING -->

{% include header-gray.html %}
<div class="page-content clearfix dark gray">
  <div class="wrapper center header">
    <h3 class='space-top4 space-bottom2'>Engineering</h3>

    <p>We don’t have “a philosophy,” but here are some</p>
    <p>semi-coherent thoughts on how we do things</p>

    <a class='btn btn-white btn-outline btn-small space-top8'>View Open Positions</a>
    <div  class='space-top1'>
      <a href='#' class='quiet small'>Check out our engineering blog</a>
    </div>
  </div>
</div>

<div class='wrapper'>
  <div id='nav-sticky' class='center '>
    <nav class="clearfix center">
      <ul class="nav sub-nav center clearfix">
        <li>
          <a href="/">Overview</a>
        </li>
        <li>
          <a href="/">Tools</a>
        </li>
        <li>
          <a href="/">Gettting Hired</a>
        </li>
        <li>
          <a href="/">Projects</a>
        </li>
      </ul>
    </nav>

  </div>

</div>

<div class='wrapper'>
  <section class='clearfix '>
    <div class='col6'>
      <p class='space-bottom2'>We understand that <span class='strong'>there’s a balance between getting things done and getting things right</span>. Our focus is on quickly delivering reliable software. That means we commit to building features and infrastructure we need, but we try to avoid building things we only might need, and we don’t chase huge refactors that don't meaningfully improve our software.</p>
    </div>
    <div class='col6'>
    </div>
  </section>
  <section class='clearfix '>
    <div class='col6'>
    </div>
    <div class='col6'>
      <p class='space-bottom2'>And this might sound obvious, but we think about things before building them. Most of <span class='strong'>our best ideas have come from a few people scribbling on a whiteboard</span>, not one person staring bleary-eyed at Vim.</p>
    </div>
  </section>
  <section class='clearfix '>
    <div class='col6'>
      <p class='space-bottom2'>
        We believe code is written for humans, not machines. In addition to being correct, <span class='strong'>code should be expressive and easy to reason about</span>. At Spring, every line of code is reviewed by a human before it’s committed. Code review isn’t just quality control, it's an opportunity to discuss ideas, provide feedback, and learn from the code of others. We always want to be better engineers.
      </p>
    </div>
    <div class='col6'>
    </div>
  </section>

  <section class='clearfix '>
    <div class='col6'>
    </div>
    <div class='col6'>
      <p class='space-bottom2'>We know code can be beautiful, but that <span class='strong'>a beautiful product is more important than a beautiful codebase</span>. In the end, the user experience is all that matters.</p>
    </div>
  </section>
</div>
<div class='dark gray clearfix'>
  <section class='wrapper space'>
    <h3 class='center space-bottom2'>Tools</h3>
    <p class='center'>We believe in using the right tools for the right jobs.</p>
    <p class='center'>In our experience the right tool is often one you already have.</p>

    <div class='clearfix space-top4'>
      <div class='col6 center'>
        <ul>
        <li>Go</li>
        <li>Postgres</li>
        <li>React (Front-end web)</li>
        <li>Objective C (iOS)</li>
        <li>Java (Android)</li>
        </ul>
      </div>

      <div class='col6 center'>
        <ul>
        <li>ElasticSearch</li>
        <li>Python (machine learning)</li>
        <li>Docker</li>
        <li>AWS</li>
        <li>Memcached</li>
        </ul>
      </div>


    </div>


  </section>
      <img class='col2 margin1 gopher' src='{{site.baseurl}}/img/eng/gopher.png'>
  </div>

<div class='wrapper '>
  <section class='clearfix space'>
    <h3 class='center space-bottom2'>Getting Hired</h3>
  </section>
  <section class='clearfix '>
    <div class='col6'>
      <p class='space-bottom2'>Everyone gets treated with respect.</p>
    </div>
    <div class='col6'>
    </div>
  </section>
  <section class='clearfix '>
    <div class='col6'>
    </div>
    <div class='col6'>
      <p class='space-bottom2'>We try to determine whether Spring is right for the engineer, not just whether the engineer is right for Spring.</p>
    </div>
  </section>
  <section class='clearfix '>
    <div class='col6'>
      <p class='space-bottom2'>We aren't sadists. An interview shouldn't be an interrogation.</p>
    </div>
    <div class='col6'>
    </div>
  </section>
  <section class='clearfix '>
    <div class='col6'>
    </div>
    <div class='col6'>
      <p class='space-bottom2'>We don't hire unicorns, rockstars, ninjas, 10xers, etc. We hire strong engineers that we look forward to working with every day.</p>
    </div>
  </section>

  <section class='center'>
    <a class='btn btn-main btn-outline btn-small center'>View Open Positions</a>
    </section>

    <hr/>
  </div>
</div>

<script>
  var stickyNav = document.getElementById('nav-sticky');  
  var stickyNavTop = document.getElementById('nav-sticky').offsetTop;  

  function init () {
    window.addEventListener('scroll', function () {
      placeNav()
    })
  }

  function placeNav(){
    var scrollTop = window.scrollY;

    if ( stickyNavTop >= scrollTop && hasClass(stickyNav, 'sticky') ) {
      stickyNav.className = 'center';
    }
    else if ( stickyNavTop <= scrollTop && !hasClass(stickyNav, 'sticky') ) {
      stickyNav.className += ' sticky';
    }
  };

  init();

</script>
{% include footer-2.html %}

