---
layout: spring
---

<!-- PRESS -->

<style>
</style>

{% include header-2.html %}
<div class="page-content clearfix">
  <div class="wrapper text-center space-bottom4">
    <h3 class='space-top2 space-bottom4'>Press</h3>

    <p class='col8 center'>
      Here’s where we save the nice words that nice people say about Spring.
      You can also find press info and other material that may come in handy.
    </p>

    <p class='space-top4'>Please send inquiries</p>
    <p>to <a href=''>press@shopspring.com</a></p>

  </div>
  <div class='wrapper'>
    <hr/>

    <div id='nav-sticky' class='center '>
      <nav class="clearfix text-center">
        <ul class="nav sub-nav center clearfix">
          <li>
            <a href="/">Coverage</a>
          </li>
          <li>
            <a href="/">Awards</a>
          </li>
          <li>
            <a href="/">Fast Facts</a>
          </li>
          <li>
            <a href="/">Presskit</a>
          </li>
          <li>
            <a href="/">Inquiries</a>
          </li>
        </ul>
      </nav>

    </div>
  </div>

  <div class='wrapper large clearfix text-center'>
    <div class='clearfix'>
    <section class='col4 br bb pad-lrg'>
        <img src='{{ site.baseurl }}/img/press/tc-logo-gray.png' class='logo col6 center no-pad space-bottom2'>
        <div class='row-med'>
        <h4>Spring, The Shoppable Instagram, Closes $25M In Series B</h4>
        <p class='quiet small space-bottom4 space-top1'>April 16, 2015</p>
        </div>
        <a class='small ' href='http://techcrunch.com/2015/04/16/spring-the-shoppable-instagram-closes-25m-in-series-b/'>Read the full article ></a>
    </section>

    <section class='col4 bb pad-lrg'>
        <img src='{{ site.baseurl }}/img/press/vogue-logo.svg' class='logo col4 center no-pad space-bottom2'>
        <div class='row-med'>
        <h4>This App Will Change the Way You Shop Forever</h4>
        <p class='quiet small space-bottom4 space-top1'>August 14, 2014</p>
        </div>
        <a class='small ' href='http://www.vogue.com/972293/spring-app-changes-mobile-shopping/'>Read the full article ></a>
    </section>

    <section class='col4 bl bb pad-lrg'>
        <img src='{{ site.baseurl }}/img/press/fc-logo.png' class='logo col6 center no-pad space-bottom2'>
        <div class='row-med'>
        <h4>Spring Wants to Reinvent the Shopping Mall for Your Phone</h4>
        <p class='quiet small space-bottom4 space-top1'>November 7, 2014</p>
        </div>
        <a class='small ' href='http://www.fastcompany.com/3037737/innovation-agents/spring-wants-to-reinvent-the-shopping-mall-for-your-phone'>Read the full article</a>
    </section>

    </div>
    <div class='clearfix'>
    <section class='col4 br pad-lrg'>
        <img src='{{ site.baseurl }}/img/press/wired-logo.svg' class='logo col5 center no-pad space-bottom2'>
        <div class='row-med'>
        <h4>Good News: This Shopping App Finally Makes the Mall Obsolete</h4>
        <p class='quiet small space-bottom4 space-top1'>August 14, 2014</p>
        </div>
        <a class='small ' href='http://www.wired.com/2014/08/spring/'>Read the full article ></a>
    </section>

    <section class='col4 pad-lrg'>
        <img src='{{ site.baseurl }}/img/press/nyt-logo.png' class='logo col6 center no-pad space-bottom2'>
        <div class='row-med'>
        <h4>Spring, an E-Commerce Start Up Aims at Mobile Shopping</h4>
        <p class='quiet small space-bottom4 space-top1'>August 14, 2014</p>
        </div>
        <a class='small ' href='http://bits.blogs.nytimes.com/2014/08/14/spring-an-e-commerce-start-up-aims-at-mobile-shopping/'>Read the full article ></a>
    </section>

    <section class='col4 bl pad-lrg'>
        <img src='{{ site.baseurl }}/img/press/lucky-logo.jpg' class='logo col4 center no-pad space-bottom2'>
        <div class='row-med'>
        <h4>The Shopping App Of Your Dreams Is Finally Live</h4>
        <p class='quiet small space-bottom4 space-top1'>August 14, 2014</p>
        </div>
        <a class='small ' href='http://www.luckyshops.com/article/spring-shopping-app-launch'>Read the full article ></a>
    </section>
    </div>
  </div>
</div>
<div class='header gray-light'>
  <div class="wrapper">
    <h3 class='text-center space-top4 space-bottom4'>Awards</h3>

    <div class='clearfix space-bottom8 text-center'>

      <div class='col2 margin0'>
      <img src='{{ site.baseurl }}/img/press/inc-logo.jpg' class='logo col4 center no-pad space-bottom2'>
        <div class='row-med'>
          <p>Inc. Top 10 Most Innovative Startups of 2014</p>
        </div>
      </div>
      <div class='col2 margin0'>
      <img src='{{ site.baseurl }}/img/press/cnn-logo.png' class='logo col4 center no-pad space-bottom2'>
        <div class='row-med'>
        <p>The CNN 10 startups</p>
        </div>
      </div>
      <div class='col2 margin0'>
      <img src='{{ site.baseurl }}/img/press/vogue-logo.svg' class='logo col4 center no-pad space-bottom2'>
        <div class='row-med'>
        <p>Vogue 10 best apps of 2014</p>
        </div>
      </div>
      <div class='col2 margin0'>
      <img src='{{ site.baseurl }}/img/press/webby-logo.png' class='logo col4 center no-pad space-bottom2'>
        <div class='row-med'>
        <p>Webby Award, Shopping (Handheld Devices)</p>
        </div>
      </div>
      <div class='col2 margin0'>
      <img src='{{ site.baseurl }}/img/press/apple-logo.png' class='logo col4 center no-pad space-bottom2'>
        <div class='row-med'>
        <p>Apple Best Apps of 2014</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='blue dark header'>
  <div class="wrapper">
    <h3 class='text-center space-top4 space-bottom4'>Fast Facts</h3>

    <div class='clearfix space-bottom6'>
      <div class='col6'>
        <h5>Mission</h5>
        <p>One sentence, what is Spring trying to do?</p>
        <h5 class='space-top2'>Founders</h5>
        <p>Spring was founded by David Tisch, Alan Tisch, Octavian Costache, and Ara Katz</p>
        <h5 class='space-top2'>Investors</h5>
        <p>Box Group, Yuri Millner, Groupe Arnault, Google Ventures, Thrive Capital</p>
        <h5 class='space-top2'>Brands</h5>
        <p>700+ brands use Spring, with dozens more being added every week (?)</p>
      </div>

      <div class='col5 margin2 '>
        <h5>Founded</h5>
        <p>2013</p>
        <h5 class='space-top2'>Location</h5>
        <p>Soho, NYC. (Soon moving to Flatiron for larger digs)</p>
        <h5 class='space-top2'>Employees</h5>
        <p>50+</p>
        <h5 class='space-top2'>Funding, to date</h5>
        <p>$34 million</p>
        <h5 class="space-top2">Dogs</h5>
        <p>1-4, depending on the day</p>
      </div>

    </div>
    <p class='text-center space-bottom4'>Looking for more info? Check out our <a class='dark' href='#'>About page</a> or <a class='dark' href='#'>our blog</a></p>
  </div>
</div>

<div class="wrapper text-center">
  <h3 class='space-top4'>Have a press inquiry?</h3>
  <p class='space-top4'>Please contact <a href=''>press@shopspring.com</a></p>
  <p>And thanks for your interest!</p>

  <p class='space-top4 space-bottom2'>For in depth information and assets</p>
  <a class='btn btn-main btn-outline btn-small space-bottom8'>Download Presskit</a>
</div>

</div>

<script>
  var stickyNav = document.getElementById('nav-sticky');  
  var stickyNavTop = document.getElementById('nav-sticky').offsetTop;  

  function init () {
    window.addEventListener('scroll', function () {
      placeNav()
    })
  }

  function placeNav(){
    var scrollTop = window.scrollY;

    if ( stickyNavTop >= scrollTop && hasClass(stickyNav, 'sticky') ) {
      stickyNav.className = 'center';
    }
    else if ( stickyNavTop <= scrollTop && !hasClass(stickyNav, 'sticky') ) {
      stickyNav.className += ' sticky';
    }
  };

  init();

</script>
{% include footer-4.html %}
