---
layout: spring
---

<style>

  .grid {
    list-style-type: none;
  }
  .grid li {
    float: left;
    width: 33%;
    height: 12em;
  }
  .grid li:nth-child(odd) {
    background-color: #e4e4e4;
    }

  .grid li:nth-child(even) {
    background-color: #a7a7a7;
      }
</style>

{% include header-2.html %}
<div class="page-content clearfix">
  <div class="wrapper team">
    <h3 class='space-top2'>Big Mission Statement</h3>
    <p>maybe drill down a bit more here</p>
    <p>maybe drill down a bit more here</p>

    <p class='space-top2'>mention the background of the team</p>
    <p>mention the background of the team</p>


    <h3 class='space-top4'>We're Hiring!</h3>
    <a class='space-top1 btn btn-main btn-outline btn-small'>
      View Open Positions
    </a>
    <div  class='space-top1'>
    <a href='#' class='quiet'>Life at Spring ></a>
    </div>
    <hr/>
    <div class='center'>
      <nav class="clearfix center">
        <ul class="nav sub-nav center clearfix">
          <li>
            <a href="/">
              Engineering
            </a>
          </li>
          <li>
            <a href="/">
              Design
            </a>
          </li>
          <li>
            <a href="/">
              Marketing
            </a>
          </li>
          <li>
            <a href="/">
              Operations
            </a>
          </li>
          <li>
            <a href="/">
              Brand
            </a>
          </li>
          <li>
            <a href="/">
              Leadership
            </a>
          </li>
        </ul>
      </nav>

    </div>

  <ul class='grid space-top2'>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  </div>


</div>
</div>

{% include footer-1.html %}

