---
layout: spring
---

<style>

  #grid {
    min-height: 1px;
  }
  .grid li {
    float: left;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    margin: 1em;
    transition: all .2s;
    position: absolute;
  }

  .grid li:hover {
    width: 7em;
    height: 7em;
  }

  .grid li:nth-child(odd) {
    background-color: #e4e4e4;
    }

  .grid li:nth-child(even) {
    background-color: #a7a7a7;
      }
</style>

{% include header-2.html %}
<div class="page-content clearfix">
  <div class="wrapper team">
    <h3 class='space-top2'>Big Mission Statement</h3>
    <p>maybe drill down a bit more here</p>
    <p>maybe drill down a bit more here</p>

    <p class='space-top2'>mention the background of the team</p>
    <p>mention the background of the team</p>


    <h3 class='space-top4'>We're Hiring!</h3>
    <a class='space-top1 btn btn-main btn-outline btn-small'>
      View Open Positions
    </a>
    <div  class='space-top1'>
    <a href='#' class='quiet'>Life at Spring ></a>
    </div>
    <hr/>
    <div class='center'>
      <nav class="clearfix center">
        <ul class="nav sub-nav center clearfix">
          <li>
            <a href="/">
              Engineering
            </a>
          </li>
          <li>
            <a href="/">
              Design
            </a>
          </li>
          <li>
            <a href="/">
              Marketing
            </a>
          </li>
          <li>
            <a href="/">
              Operations
            </a>
          </li>
          <li>
            <a href="/">
              Brand
            </a>
          </li>
          <li>
            <a href="/">
              Leadership
            </a>
          </li>
        </ul>
      </nav>

    </div>

    <ul id='grid' class='space-top2'></ul>
  </div>


</div>
</div>

<script>

  var team = [
    {
      'photo': null,
      'name': 'Bob Bobbington',
      'bio': 'blah blah blah I\'m bob',
      'link': ''
    },
    {
      'photo': null,
      'name': 'Bob Bobbington',
      'bio': 'blah blah blah I\'m bob',
      'link': ''
    },
    {
      'photo': null,
      'name': 'Bob Bobbington',
      'bio': 'blah blah blah I\'m bob',
      'link': ''
    },
    {
      'photo': null,
      'name': 'Bob Bobbington',
      'bio': 'blah blah blah I\'m bob',
      'link': ''
    },
    {
      'photo': null,
      'name': 'Bob Bobbington',
      'bio': 'blah blah blah I\'m bob',
      'link': ''
    },
    {
      'photo': null,
      'name': 'Bob Bobbington',
      'bio': 'blah blah blah I\'m bob',
      'link': ''
    },
    {
      'photo': null,
      'name': 'Bob Bobbington',
      'bio': 'blah blah blah I\'m bob',
      'link': ''
    },
    {
      'photo': null,
      'name': 'Bob Bobbington',
      'bio': 'blah blah blah I\'m bob',
      'link': ''
    },
    {
      'photo': null,
      'name': 'Bob Bobbington',
      'bio': 'blah blah blah I\'m bob',
      'link': ''
    },
    {
      'photo': null,
      'name': 'Bob Bobbington',
      'bio': 'blah blah blah I\'m bob',
      'link': ''
    },
    {
      'photo': null,
      'name': 'Bob Bobbington',
      'bio': 'blah blah blah I\'m bob',
      'link': ''
    },
    {
      'photo': null,
      'name': 'Bob Bobbington',
      'bio': 'blah blah blah I\'m bob',
      'link': ''
    },
    {
      'photo': null,
      'name': 'Bob Bobbington',
      'bio': 'blah blah blah I\'m bob',
      'link': ''
    },
    {
      'photo': null,
      'name': 'Bob Bobbington',
      'bio': 'blah blah blah I\'m bob',
      'link': ''
    },
  ]

  function getColor () {
    //there are 360 distinct hue values in hsl
    var h = Math.random() * 360;
    // FUN FACT! ~~ is shorthand for Math.floor(). not relevant anymore, but still useful.

    var color = "hsla(" + h + ", 75%, 60%, 1)";
    return (color);
  }

  function Employee (x, y, size, data) {
    //create document fragment with the params


    //add that shit to the Team element!
  }

  function Team (element, spacing, employeeSize) {
    this.element = element;
    this.employeeSize = employeeSize;

    //calculate the # of rows based on # of employees
    var rows = Math.ceil(team.length/4.5);

    this.width = this.element.offsetWidth;
    this.height = ( employeeSize + (spacing*2) ) * rows;
    //set height
    this.element.style.height = this.height + 'px';


    //calculate rows/columns based on size
    //do I even need rows? maybe just columns.
    //also, to get an offset grid i'll need to check if the row is even or odd, but I don't need a total row value for that
    //total rows could be nice so I can center the final row though...

    //for each employee in team make new employee object
    team.forEach(function ( employee, i ) {
      rowCount = 0;
      if ( i % 5 === 0 ) {
      
      }

    })
  }


  new Team(document.getElementById('grid'), 60, 60)

</script>

{% include footer-1.html %}

