<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class='update' style='background-color: #f9f9f9'>
    <div class="page-content">
      <div class="wrapper">
        <div class="post">

          <header class="post-header">
            <span class="post-title">{{ page.title }}</span>
            <span class="fr post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</span>
          </header>

          <article class="post-content">
            {{ content }}
          </article>

        </div>

      </div>
    </div>

  </body>
</html>


